<div class='container center bg-grad'>
    <div class='formBg center'>
        <div class="margin formCenter">
            <div class='icon center'>
                LOGIN / REGISTRO
            </div>
            <form class="marginForm" name='cadastroUser'>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Nome Completo</mat-label>
                        <input matInput placeholder='Seu nome completo' type="text" name="inName" id="idName">
                        <mat-icon matSuffix>person</mat-icon>
                        <!-- <mat-hint>Digite seu nome completo.</mat-hint> -->
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>E-mail</mat-label>
                        <input matInput placeholder='example@email.com' type="email" name="inEmail" id="idEmail">
                        <mat-icon matSuffix>email</mat-icon>
                        <!-- <mat-hint>Digite o nome da sua mãe.</mat-hint> -->
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Senha</mat-label>
                        <input matInput placeholder='Sua senha' type="password" name="inSenha" id="idSenha">
                        <mat-icon matSuffix>lock</mat-icon>
                        <!-- <mat-hint>Insira sua data de nascimento.</mat-hint> -->
                    </mat-form-field>
                </p>
            </form>
            <div class="margin">
                <button mat-flat-button color='primary'>Login</button> <!--(click)="coletarDadosForm()"-->
                <button mat-flat-button color='accent'>Registrar-se</button>
            </div>
        </div>
    </div>
</div>
