<div class="container center">
  <div class="info">
    <div class="text">
      <h1>{{title}}</h1>
      <p>{{subtitle}}</p>
    </div>
  
    <div>
      <table mat-table class="full-width-table" matSort aria-label="Elements" [dataSource]="produtos">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Preço</th>
          <td mat-cell *matCellDef="let row">{{row.price}}</td>
        </ng-container>

        <!-- Table Actions -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ações</th>
          <td mat-cell *matCellDef="let row">
            <a routerLink="../produtos-view/{{row.id}}" class="view">
              <mat-icon matSuffix>visibility</mat-icon>
            </a>
            <a routerLink="../produtos-edit/{{row.id}}" class="edit">
              <mat-icon matSuffix>edit</mat-icon>
            </a>
            <a routerLink="../produtos-delete/{{row.id}}" class="delete">
              <mat-icon matSuffix>delete</mat-icon>
            </a>
          </td>
        </ng-container>
        <!-- {{row.actions}} -->
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator #paginator
          [length]="produtos?.length"
          [pageIndex]="0"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 20]"
          aria-label="Select page">
      </mat-paginator>
    </div>
    
    <div>
      <button mat-flat-button color='primary' (click)="incluirProduto()">Incluir</button>
    </div>
  </div>
</div>
