<div class="info">
    <div class="title">
        <h1>Informações do Produto</h1>
    </div>

    <div class="container">
        <form class="form">
            <div class="input-2 mr-1">
                <label>Nome do Produto</label>
                <input type="text" disabled="true" [(ngModel)]="produtos.name" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="input-2">
                <label>Preço do Produto</label>
                <input type="text" disabled="true"  [(ngModel)]="produtos.price" [ngModelOptions]="{standalone: true}">
            </div>
            <button (click)="cancel()">Cancelar</button>
        </form>
    </div>

</div>